{% extends "base.html" %}
{% block body %}
{% block content %}
{% endblock %}

<h1>Unfinished HITs</h1>
<div style="margin-left: 2em;">
  {% for hit_template in hit_templates %}
  <h2>{{ hit_template }}</h2>
    {% for hit_batch in hit_template.hitbatch_set.all %}
      <div style="margin-left: 2em;">
        <h3>{{ hit_batch }}</h3>
        <div style="margin-left: 2em;">
          {% if hit_batch.unfinished_hits %}
            {% for hit in hit_batch.unfinished_hits %}
              <span style="padding: 0.5em; white-space:nowrap;">
                <a href="/hits/{{ hit.id }}/">HIT {{ hit.id }}</a>
              </span>
            {% endfor %}
          {% else %}
            <p>No HITs are available.</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

<div style="padding-top: 2em;"></div>

<h1>Finished HITs</h1>
<div style="margin-left: 2em;">
  {% for hit_template in hit_templates %}
  <h2>{{ hit_template }}</h2>
    {% for hit_batch in hit_template.hitbatch_set.all %}
      <div style="margin-left: 2em;">
        <h3>{{ hit_batch }}</h3>
        <div style="margin-left: 2em;">
          {% if hit_batch.finished_hits %}
            {% for hit in hit_batch.finished_hits %}
              <span style="padding: 0.5em; white-space:nowrap;">
                <a href="/hits/{{ hit.id }}/">HIT {{ hit.id }}</a>
              </span>
            {% endfor %}
          {% else %}
            <p>No HITs are available.</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}
