<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
    // Disable all Submit buttons
    window.addEventListener("load", function(event) {
      var submitButtons = document.querySelectorAll('input[type="submit"]');
      for (var i in submitButtons) {
        submitButtons[i].disabled = true;
      }
    });
    </script>
  </head>
  <body>
    <form name="mturk_form" method="post" id="mturk_form" target="_parent"
          action="#">

      {% csrf_token %}
      {% autoescape off %}{{ task.populate_html_template }}{% endautoescape %}

      {% if not task.batch.project.html_template_has_submit_button %}
      <p class="text-center">
        <input type="submit" id="submitButton" class="btn btn-primary" disabled
               value="You must ACCEPT the Task before you can submit the results." />
      </p>
      {% endif %}
    </form>
  </body>
</html>
