{% extends "task_base.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static 'turkle/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid content">
  <iframe src="{% url 'preview_iframe' task.id %}{{ http_get_params }}"
          id="task_assignment_iframe"
          style="top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; box-sizing: inherit; background: #fff; opacity: 0.8; display: block;">
  </iframe>
</div><!-- /.container-fluid -->
{% endblock %}

{% block subheader_right %}
<div class="inline-form-buttons">
  <form method="post" action="{% url 'accept_task' task.batch_id task.id %}">
    {% csrf_token %}
    <input type="submit" id="acceptButton" class="btn btn-sm btn-primary" value="Accept Task" />
  </form>

  <form method="post" action="{% url 'skip_task' task.batch_id task.id %}">
    {% csrf_token %}
    <input type="submit" id="skipButton" class="btn btn-sm btn-danger" value="Skip Task" />
  </form>

  <a href="{% url 'index' %}" role="button" class="btn btn-sm btn-danger">Stop Preview</a>
</div>
{% endblock %}
