<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% load staticfiles %}
  </head>
  <body>
    <form name="mturk_form" method="post" id="mturk_form" target="_parent"
          action="#">

      {% csrf_token %}
      {% autoescape off %}{{ task.populate_html_template }}{% endautoescape %}

      {% if not task.batch.project.html_template_has_submit_button %}
      <p class="text-center">
        <input type="submit" id="submitButton" class="btn btn-primary" disabled
               value="You must ACCEPT the Task before you can submit the results." />
      </p>
      {% endif %}
    </form>
    {% if 'hitId' in request.GET %}
    {# When viewed by annotators, indicate this is a preview only #}
    <div style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; height: 100%; z-index: 30000; background-color: black; opacity: 0.1;"></div>
    {% endif %}
  </body>
</html>
