<!DOCTYPE html>
<html>
  <head>
    <title>LMTurk</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <!--
    <link href="{% static "hits/css/common.css" %}" rel="stylesheet" type="text/css"/>
    -->
    <link href="{% static "hits/bootstrap-4.1.3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <ul class="navbar-nav mr-auto">
          {% if user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin/hits/">Manage HITs</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/auth/user/">Manage users</a>
          </li>
          {% endif %}
        </ul>
        <span class="navbar-text">
          {% if user.is_authenticated %}
          Logged in as <b>{{ user.username }}</b> -
          <a href="{% url 'logout' %}?next=/">Logout</a>
          {% else %}
          <a href="{% url 'login' %}?next=/">Login</a>
          {% endif %}
        </span>
      </nav>
    </div><!-- /container-fluid -->

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
  </body>
</html>
