{% extends "hit_base.html" %}
{% load staticfiles %}

{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'hits/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hits/jquery.countdown-2.2.0.js' %}"></script>
<script>
$(function () {
  var csrftoken = $("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $('#update_auto_accept').change(function() {
    $.post("{% url 'update_auto_accept' %}", {'auto_accept': this.checked});
  });

  $("#expiration-timer").countdown('{{ hit_assignment.expires_at|date:'Y-m-d H:i' }}')
                        .on('update.countdown', function(event) {
                          $(this).text(event.strftime('Expires in %H:%M'))
                        })
                        .on('finish.countdown', function(event) {
                          // "Gray out" background of iFrame
                          $('#iframe_container').css('background', '#000');
                          $('#hit_assignment_iframe').css('background', '#fff')
                                                     .css('opacity', '0.8');
                          $('#messages_container').append(
                            $('<div>').addClass('alert alert-error').attr('role', 'alert')
                                      .text('Task Assignment has expired'));
                        });
});
</script>
{% endblock %}

{% block body %}

<div class="container-fluid">

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <div id="iframe_container" style="height: 500px;">
    <iframe src="{% url 'hit_assignment_iframe' hit.id hit_assignment.id %}"
            style="top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; box-sizing: inherit;"
            id="hit_assignment_iframe">
    </iframe>
  </div>

</div><!-- /.container-fluid -->

{% endblock %}

{% block right_half_footer %}
<span>
  <input type="checkbox" id="update_auto_accept"
         {% if auto_accept_status %} checked="checked" {% endif %} >
  <label class="form-check-label" for="update_auto_accept">Auto-accept next Task</label>
</span>

<span class="inline-form-buttons">
  <form method="post" action="{% url 'return_hit_assignment' hit.id hit_assignment.id %}">
    {% csrf_token %}
    <input type="submit" id="submitButton" class="btn btn-sm btn-danger" value="Return Task" />
  </form>

  <form method="post" action="{% url 'skip_and_accept_next_hit' hit.hit_batch_id hit.id hit_assignment.id %}">
    {% csrf_token %}
    <input type="submit" id="submitButton" class="btn btn-sm btn-danger" value="Skip Task" />
  </form>
</span>

<span style="padding-left: 2em; font-size: 0.8em;">
  <span id="expiration-timer"></span>
</span>

{% endblock %}
