<!DOCTYPE html>
<html>
  <head>
    <title>HIT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <form name="mturk_form" method="post" id="mturk_form" target="_parent"
          action="{% url 'hit_assignment' hit.id hit_assignment.id %}">

      {% csrf_token %}
      {% autoescape off %}{{ hit.generate_form }}{% endautoescape %}

      {% if not hit.hit_batch.hit_template.form_has_submit_button %}
      <p class="text-center">
        <input type="submit" id="submitButton" class="btn btn-primary" value="Submit" />
      </p>
      {% endif %}
    </form>
  </body>
</html>
