{% extends "base.html" %}
{% block body %}
<div>
  <b>You're working on HIT:</b> {{ hit.id }}<br />
  <b>which is derived from the template named:</b> {{ hit.hit_batch.hit_template.name }}<br />
  {% if hit.completed %}
  <b>Your answers from the previous submission:</b> {{ hit_assignment.answers }}<br />
  {% endif %}
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'submission' hit.id hit_assignment.id %}" method="post">
  {% csrf_token %}
  {% autoescape off %}{{ hit.generate_form }}{% endautoescape %}
  <input type="submit" value="Submit" />
</form>
{% endblock %}
