{% extends "hit_base.html" %}
{% load staticfiles %}

{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'hits/jquery-3.3.1.min.js' %}"></script>
<script>
$(function () {
  var csrftoken = $("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $('#update_auto_accept').change(function() {
    $.post("{% url 'update_auto_accept' %}", {'auto_accept': this.checked});
  });
});
</script>
{% endblock %}

{% block body %}

<div class="container-fluid">

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <div style="height: 500px;">
    <iframe src="{% url 'hit_assignment_iframe' hit.id hit_assignment.id %}"
            style="top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; box-sizing: inherit;">
    </iframe>
  </div>

</div><!-- /.container-fluid -->

{% endblock %}

{% block right_half_footer %}
<span>
  <input type="checkbox" id="update_auto_accept"
         {% if auto_accept_status %} checked="checked" {% endif %} >
  <label class="form-check-label" for="update_auto_accept">Auto-accept next HIT</label>
</span>

<span class="form-buttons">
  <form method="post" action="{% url 'return_hit_assignment' hit.id hit_assignment.id %}">
    {% csrf_token %}
    <input type="submit" id="submitButton" class="btn btn-sm btn-danger" value="Return HIT" />
  </form>

  <form method="post" action="{% url 'skip_and_accept_next_hit' hit.hit_batch_id hit.id hit_assignment.id %}">
    {% csrf_token %}
    <input type="submit" id="submitButton" class="btn btn-sm btn-danger" value="Skip HIT" />
  </form>
</span>

{% endblock %}
