{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

{% block content %}
{% endblock %}

<div class="container-fluid">
  {% if batch_rows %}
  <table class="table table-bordered table-hover">
    <tr class="thead-dark">
      <th>Template</th>
      <th>Batch</th>
      <th>Batch Published</th>
      <th>HITs Available</th>
      <th></th>
    </tr>
    {% for batch_row in batch_rows %}
    <tr>
      <td>{{ batch_row.template_name }}</td>
      <td>{{ batch_row.batch_name }}</td>
      <td>{{ batch_row.batch_published }}</td>
      <td>{{ batch_row.assignments_available }}</td>
      <td>
        <a href="{{ batch_row.accept_next_hit_url }}" role="button" class="btn btn-sm btn-primary">
          Accept Next HIT
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h1>No HITs available at this time</h1>
  {% if not user.is_authenticated  %}
  <h4>
    You may need to <a href="{% url 'login' %}">Login</a> to see available HITs
  </h4>
  {% endif %}
  {% endif %}
</div>

{% endblock %}
