*~
*.pyc
venv
.venv
*.sqlite3
.ropeproject
.idea
*.csv
*.tsv
/logs/
!examples/*.html
!examples/*.csv
!turkle/tests/resources/*.csv
!turkle/tests/resources/*.html
.DS_Store
*.egg-info/
build/
_build/
dist/
turkle_site/local_settings.py
/static/
/backups/
/backup.sh
.my.cnf
