*~
*.pyc
venv
*.sqlite3
.ropeproject
.idea
*.csv
*.tsv
logs/
!examples/*.html
!examples/*.csv
!hits/tests/resources/*.csv
!hits/tests/resources/*.html
.DS_Store
*.egg-info/
build/
_build/
dist/
turkle_site/local_settings.py
