sudo: required

language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

services:
  - docker

install:
  - pip install -r requirements.txt

script:
  - python manage.py test


jobs:
  include:
    - stage: style check
      install: pip install flake8
      script: flake8
    - stage: documentation
      install: pip install sphinx sphinx_rtd_theme
      script: sphinx-build -M html docs _built_docs -W
    - stage: docker build
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build .
        - docker build -t turkle.mysql -f Dockerfile-MySQL .
