{% extends "base.html" %}
{% load i18n static %}

{# This is shown to annotators and for admin site #}

{% block body %}

<div class="container mt-4">
  {% block content %}

  <div class="card w-50">
    <div class="card-body">

      {% block content_title %}<h1>{{ title }}</h1>{% endblock %}

      <form method="post">{% csrf_token %}
        <div>
          {% if form.errors %}
          <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {% endif %}

          <p>{% trans "Enter your current password and then enter your new password twice for verification." %}</p>

          <table>
            <tr>
              <td>{{ form.old_password.errors }}</td>
              <td>{{ form.old_password.label_tag }}</td>
              <td>{{ form.old_password }}</td>
              <td></td>
            </tr>
            <tr>
              <td>{{ form.new_password1.errors }}</td>
              <td>{{ form.new_password1.label_tag }}</td>
              <td>{{ form.new_password1 }}</td>
              <td>
                {% if form.new_password1.help_text %}
                <div span="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{{ form.new_password2.errors }}</td>
              <td>{{ form.new_password2.label_tag }}</td>
              <td>{{ form.new_password2 }}</td>
              <td>
                {% if form.new_password2.help_text %}
                <span class="help">{{ form.new_password2.help_text|safe }}</span>
                {% endif %}
              </td>
            </tr>
          </table>

          <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>

  {% endblock %}
</div>

{% endblock %}
