{% extends "admin/base_bootcamp.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'turkle/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/datatables-1.10.24/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/d3-3.5.17.min.js' %}"></script>

<link href="{% static 'turkle/datatables-1.10.24/datatables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
<style>
</style>
<script>
$(document).ready(function() {
  $('#user-stats').DataTable({
    info: false,
    paging: false,
    searching: false
  });
});
</script>
{% endblock %}

{% block body %}

<div class="container">

  <div style="margin-top: 1em;">
    <a href="?days=2" role="button" class="btn btn-primary">Last 2 days</a>
    <a href="?days=7" role="button" class="btn btn-primary">Last 7 days</a>
    <a href="?days=30" role="button" class="btn btn-primary">Last 30 days</a>
  </div>

  <h1>Active Users in last {{ days }} Days: {{ active_user_count }}</h1>

  <div style="margin-bottom: 2em;">
    <table id="user-stats" class="table table-sm table-bordered thead-light">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Assignments</th>
          <th>Most Recent</th>
        </tr>
      </thead>
      <tbody>
        {% for active_user in active_users %}
        <tr>
          <td data-order="{{ active_user.last_name }}, {{ active_user.first_name }}">
            <a href="{% url 'stats_for_user' active_user.id %}">
              {{ active_user.first_name }} {{ active_user.last_name }}
            </a>
          </td>
          <td>{{ active_user.username }}</td>
          <td>{{ active_user.total_assignments }}</td>
          <td data-order="{{ active_user.last_finished_time|date:"c" }}">
            {{ active_user.last_finished_time }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div><!-- /.container -->

{% endblock %}
