{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
{% for app in app_list %}
{{ app.name }}
{% endfor %}
</div>
{% endblock %}
{% endif %}

{% block content %}
{{ block.super }}
<p>
  <h3>
    <a href="{% url 'turkle_admin:active_projects' %}">
      Active Projects
    </a>
  </h3>
</p>
<p>
  <h3>
    <a href="{% url 'turkle_admin:active_users' %}">
      Active Users
    </a>
  </h3>
</p>
<p style="margin-top: 2em;">
  <a href="{% url 'turkle_admin:expire_abandoned_assignments' %}" class="button">
    Expire Abandoned Assignments
  </a>
</p>
{% endblock %}

{% block sidebar %}{% endblock %}
