{% extends "admin/base_bootcamp.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'turkle/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/datatables-1.10.24/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/d3-3.5.17.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/cal-heatmap-3.6.2.min.js' %}"></script>

<link href="{% static 'turkle/datatables-1.10.24/datatables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'turkle/cal-heatmap.css' %}" rel="stylesheet" type="text/css"/>
<style>
.activity-calendar {
  margin-bottom: 2em;
}
</style>
<script>
$(document).ready(function() {
  $('#user-stats').DataTable({
    info: false,
    paging: false,
    searching: false
  });

  // Set startDate to include previous 11 months plus all of current month
  var currentDate = new Date();
  var year = currentDate.getFullYear();
  var month = currentDate.getMonth(); // 0-indexed
  month -= 11;
  if (month < 0) {
    month += 12;
    year -= 1;
  }
  var startDate = new Date(year, month, 1);

  $('.activity-calendar').each(function() {
    var $calendarDiv = $(this);
    var containerId = $calendarDiv.attr('id');
    const projectActivityJSON = $calendarDiv.data('projectActivityJson');

    var cal = new CalHeatMap();
    cal.init({
      itemSelector: '#' + containerId,
      data: projectActivityJSON,
      domain: "month",
      subDomain: "day",
      start: startDate,
      weekStartOnMonday: false,
    });
  });

});
</script>
{% endblock %}

{% block body %}

<div class="container">

  <div style="margin-top: 1em;">
    <a href="?days=2" role="button" class="btn btn-primary">Last 2 days</a>
    <a href="?days=7" role="button" class="btn btn-primary">Last 7 days</a>
    <a href="?days=30" role="button" class="btn btn-primary">Last 30 days</a>
  </div>

  <h1>Active Users in last {{ days }} Days: {{ active_user_count }}</h1>

  <div style="margin-bottom: 2em;">
    <table id="user-stats" class="table table-sm table-bordered thead-light">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Assignments</th>
          <th>Most Recent</th>
        </tr>
      </thead>
      <tbody>
        {% for active_user in active_users %}
        <tr>
          <td data-order="{{ active_user.last_name }}, {{ active_user.first_name }}">
            {{ active_user.first_name }} {{ active_user.last_name }}
          </td>
          <td>{{ active_user.username }}</td>
          <td>{{ active_user.total_assignments }}</td>
          <td data-order="{{ active_user.last_finished_time|date:"c" }}">
            {{ active_user.last_finished_time }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h1>Active Projects in last {{ days }} Days:</h1>

  {% for project in projects %}
  <h3>
    <a href="{% url 'turkle_admin:project_stats' project.id %}">
      {{ project.name }}
    </a>
  </h3>
  <div id="activity-calendar-{{ project.id }}"
       class="activity-calendar"
       data-project-activity-json="{% url 'turkle_admin:project_activity_json' project.id %}">
  </div>
  {% endfor %}

</div><!-- /.container -->

{% endblock %}
