{% extends "base.html" %}

{% block body %}

<div class="container">
  <div style="margin-top: 2em;">
    {% block content %}

    <div class="card w-50">
      <div class="card-body">
        {% if form.errors %}
        <h5 class="card-title">Your username and password didn't match. Please try again.</h5>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <h5 class="card-title">
          Your account doesn't have access to this page. To proceed,
          please login with an account that has access.
        </h5>
        {% else %}
        <h5 class="card-title">Please login to see this page.</h5>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>

          <input type="submit" value="Login" class="btn btn-primary" />
          {% if TURKLE_EMAIL_ENABLED %}
          <span style="margin-left: 2em;">
            <a href="{% url 'password_reset' %}">Reset your Password</a>
          </span>
          {% endif %}
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        {% endblock %}
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>

</div><!-- /.container -->

{% endblock %}
