{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript" src="{% static 'turkle/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'turkle/parsley-2.9.1.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#project_form').parsley();
});
</script>
<script type="text/javascript">
$(function () {
  if (!$('#id_custom_permissions').is(':checked')) {
    $('div.field-worker_permissions').hide();
  }
  $('#id_custom_permissions').change(function() {
    $('div.field-worker_permissions').toggle();
  });

  document.addEventListener('dragenter', (e) => {
    e.preventDefault();
  });

  document.addEventListener('dragover', (e) => {
    e.preventDefault();
  });

  document.addEventListener('drop', (e) => {
    e.preventDefault();
    copyFileTextToFormField(e.dataTransfer.files[0]);
  });

  $('#id_template_file_upload').change(function (e) {
    copyFileTextToFormField(this.files[0]);

    // Resetting input value allows the user to upload same file twice
    $(this).val('');
  });

  function copyFileTextToFormField(f) {
    var reader = new FileReader();
    reader.onload = (function(theFile) {
      var fileContents = theFile.target.result;
      $('#id_html_template').val(fileContents);
      $('#project_form').parsley().validate({group: 'html_template'});
    });
    reader.readAsText(f);

    // DOM ID created in custom_button_file_widget.html
    $('#id_template_file_upload_custom_text').text(f.name);

    // Update hidden form field
    $('#id_filename').val(f.name);
  }
});
</script>
<style>
/* Style rules copied from:  http://parsleyjs.org/src/parsley.css */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
</style>
{% endblock %}
