{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript" src="{% static 'turkle/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<script type="text/javascript">
$(function () {
  SelectFilter.init('id_worker_permissions', 'Worker Groups', false);

  if (!$('#id_custom_permissions').is(':checked')) {
    $('div.field-worker_permissions').hide();
  }
  $('#id_custom_permissions').change(function() {
    $('div.field-worker_permissions').toggle();
  });

  document.addEventListener('dragenter', (e) => {
    e.preventDefault();
  });

  document.addEventListener('dragover', (e) => {
    e.preventDefault();
  });

  document.addEventListener('drop', (e) => {
    e.preventDefault();
    copyFileTextToFormField(e.dataTransfer.files[0]);
  });

  $('#id_template_file_upload').change(function (e) {
    copyFileTextToFormField(this.files[0]);

    // Resetting input value allows the user to upload same file twice
    $(this).val('');
  });

  function copyFileTextToFormField(f) {
    var reader = new FileReader();
    reader.onload = (function(theFile) {
      var fileContents = theFile.target.result;
      $('#id_html_template').val(fileContents);
    });
    reader.readAsText(f);

    // DOM ID created in custom_button_file_widget.html
    $('#id_template_file_upload_custom_text').text(f.name);

    // Update hidden form field
    $('#id_filename').val(f.name);
  }
});
</script>
{% endblock %}
