name: Style Check
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Run flake8
        uses: py-actions/flake8@v2
